@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sotiris (Soto) Hatzis<br />
    Sr. Software Developer<br />
    <abbr title="Phone">P:</abbr>
    099999999
</address>

<address>
    <strong>email:</strong>   <a href="mailto:shatzis@alisnet.gr">shatzis@alisnet.gr</a><br />
</address>