<h2>Welcome to SMS wizzard</h2>
<p class="well">This wizzard will guide you through the necessary steps that need to been taken in order to send SMSs to your customers.
    The wizzard consist only of three steps:
    <ol>
        <li>Select select an SMS template</li>
        <li>Select your customers</li>
        <li>Preview the messages &amp; send them</li>
    </ol>


    @Html.ActionLink("Next", "SelectCustomers",null, htmlAttributes: new { @class = "btn btn-primary" })
 </p>

